{{ define "footer" }}
    <footer>
        <a href="/">LibreCuisine</a>
        <a href="/create">Neues Rezept</a>
        {{ if .LoggedIn }}
            <a href="/logout">Logout</a>
        {{ else }}
            <a href="/login{{ if .Current }}?returnUrl={{ .Current }}{{ end }}">Login</a>
	    <a href="/register{{ if .Current }}?returnUrl={{ .Current }}{{end}}">Register</a>
        {{ end }}
    </footer>
{{ end }}
